* {
    margin: 0;
    padding: 0;
    background: #efefef;
    color: #26263c;
}

.gray {
    opacity: 0.3;
}

.locked {
    opacity: 0.2;
}

#myPlayer {
    padding: 0px 10px;
    margin: 5px auto 10px auto;
    border: 3px solid gray;
    position: relative;
    width: 92.5%;
    height: 205px;
    margin-bottom: 10px;
}

.achievements img{
    float: left;
}

button:focus {
    outline: none;
}

#wrapper {
    margin: auto;
    width: 80%;
    width: 751px;
    border: solid 1px gray;
    background: #cbcbcb;
}

#playerInfoLink, #teamRecordLink {
    margin: 5px 10px;
}

#playerInfoLink {
    float: left;
    background: #efefef;
}

#teamRecordLink {
    float: right;
    background: #efefef;
}

#playerInfoLink button {
  float: left;
}

#basics, #record {
    background: #efefef;
}

#basics {
  position: relative;
  float: left;
}

#playGameLink, #playoffGameLink, #improvePlayerLink, #playerStatsLink, #welcome, #draft, #pick {
    position: relative;
    float: left;
    margin: 10px 15px;
}

#improvePlayerLink, #playGameLink {
    float:right;
}

.main button {
    cursor: pointer;
}

#myPlayerLink {
    width:100%;
    position: relative;
    float: left;
    text-align: center;
    margin: 10px auto;
    background: #cbcbcb;
}

#myPlayerLink button {
    cursor:default;
}

#myPlayerLink h2 {
    background: #fcfcfc;
    padding: 2px 0px;
    color: #26263c;
}

#myPlayerLink h1 {
    color: #26263c;
}

#info {
    float: left;
    margin: 10px 15px 0 15px;
    width: 96%;
    border: 1px solid gray;
}

.main {
    position: relative;
    float:left;
    background: #cbcbcb;
    width: 33.3333%;
    min-width: 235px;
}

.right {
    float:right;
}



#welcome, #draft, #pick {
    padding: 10px;
    margin: auto;
}

.position, .name, .games, .series {
    margin-right: 20px;
}

#welcome h1, #draft h1 {
    text-align: center;
}

#welcome button {
    float: right;
}

#submit {
    float: right;
}

#pick h1 {
    float: left;
    padding-left: 230px;
}

#pick button {
    float: right;
}

.skill {
    margin: 0px 19.8px 10px 10px;
    padding: 5px;
    width: 163px;
    height: 50px;
    float: left;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #6f3c3c;
}

.skill:hover {
    background: gray;
    cursor:pointer;
    color: white !important;
}

.clear {
    clear: both;
}

#stats {
    border: 5px solid blue;
}

#attributePoints h2 {
    margin-left: 10px;
    float: left;
}

#attributePoints h3 {
    margin-right: 14px;
    margin-top: 5px;
    float: right;
}

.overall {
    text-align: center;
    float: left;
    margin: 14px 10px 0 10px;
}

#playerOverall {
    text-align: center;
}

#playGame, #playerStats, #improvePlayer{
    padding: 0px 10px;
    margin: 5px auto 10px auto;
    border: 3px solid gray;
    position: relative;
    width: 92.5%;
    margin-bottom: 10px;
}

#playerStats {
    height: 180px;
}

#improvePlayer {
    height: 250px;
}

#gameNumber h2, #teamWins h2, #attributesEarned h2 {
    float: left;
    padding: 5px 0px 0px 3px;
}

.pGame {
    float: right;
    margin: 5px 0px;
    padding: 0px 20px 1px 20px;
    font-size: 16px;
    height: 25px;
    width: 117px;
    background: #33334e;
    color: #ffffff;
}

.pGame:hover, #close:hover {
    background: #a30505;
    cursor: pointer;
}

.game, .stats{
    float: left;
    text-align: center;
    width: 113.7px;
    border: 1px solid #bfbfbf;
    padding: 3px 0px;
}

.home {
    color: #a30505;
}

.stats {
    width: 97px;
}

